<div class="items-sell-contents">

  <div class="items-sell-main">
    <h2 class="items-sell-title">新規映画館の情報を入力</h2>
    <%= form_with model: @theater,local: true do |f| %>

    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
    <%#= render 'shared/error_messages', model: f.object %>
    <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>

    <%# 出品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        外観画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /出品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        映画館名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"映画館名(なるべく正式名称でお願いします。)", maxlength:"40" %>
    </div>
    <%# /商品名と商品説明 %>

    <%# 商品の詳細 %>
    <div class="items-detail">
      <div class="weight-bold-text">映画館の詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          配給会社
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:company_id, Company.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>
    </div>
    <div class="items-detail">
      <div class="weight-bold-text question-text">
      </div>
      <div class="form">
        <div class="weight-bold-text">
          都道府県
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>
        <div class="weight-bold-text">
          市町村
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :city, class:"items-text", id:"item-name", placeholder:"市町村名（番地までの記入)", maxlength:"40" %>
        <div class="weight-bold-text">
          駐車場はどんな感じ？
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:parking_id, Parking.all, :id, :name, {}, {class:"select-box", id:"item-scheduled-delivery"}) %>
        <div class="weight-bold-text">
          アクセス
        </div>
        <%= f.text_area :access, class:"items-text", id:"item-name", placeholder:"例:)北館2F、エスカレーター上がってすぐ", maxlength:"40" %>
        <div class="weight-bold-text">
          喫煙所はどんな感じ？
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:smorkingroom_id, Smorkingroom.all, :id, :name, {}, {class:"select-box", id:"item-scheduled-delivery"}) %>
        <div class="weight-bold-text">
          ベビールームはどんな感じ？
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:babyroom_id, Babyroom.all, :id, :name, {}, {class:"select-box", id:"item-scheduled-delivery"}) %>

      </div>
    </div>
    <%# /配送について %>
    <div class="items-explain">
      <div class="weight-bold-text">
        備考
        <span class="indispensable2">任意</span>
      </div>
      <%= f.text_area :remark, class:"items-text", id:"item-info", placeholder:"映画館について" ,rows:"7" ,maxlength:"1000" %>
    </div>


    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "情報登録する" ,class:"sell-btn" %>
      <%=link_to 'もどる', class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <%#footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">フリマ利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <%#= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>
    </p>
  </footer>
</div>